{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'index.js') }}"
></script>

<script>
  var data = {{data|tojson}};
  var names = {{names|tojson}}
</script>

<div class="content-box">
  <ul class="row">
    {% for item in data %}
    <div class="col-md-3 poster">
      <a href="view/{{ item.id }}">
        <img src="{{ item.img }}" alt="{{ item.name }}" />
      </a>
    </div>
    {% endfor %}
  </ul>
</div>

{% endblock %}
